<style>

  .main_div1{
    align-items: center !important;
    padding-left: 35%;
    padding-top: 4%;
  }

  .card1{
    align-items: center !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* border: 1px solid red; */
    width: 500px;
    border-radius: 20px;
    height: 250px;
    padding-top: 40px;
    padding-left: 50px;
    background-color: aquamarine;
  }

  h2{
    padding-left: 10%;
  }

  .btn1{
    margin-left: 30%;
  }

  input{
    border-radius: 5px;
  }

  label{
    font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
  }

</style>


{% extends 'base.html' %}
{% block content %}
<div class="main_div1">
  <h2>Change Password</h2>
  <form class="card1" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class=" btn1 btn btn-warning">Change Password</button>
    <a href="{% url 'blogs' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}